<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="pz-bonus-heading" data-cy="BonusCreateUpdateHeading" pzTranslate="paieZoneRhApp.bonus.home.createOrEditLabel">
        Créer ou éditer un Bonus
      </h2>

      <div>
        <pz-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" pzTranslate="paieZoneRhApp.bonus.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let bonusTypeRef = editForm.get('bonusType')!;
        <div class="mb-3">
          <label class="form-label" for="field_bonusType" pzTranslate="paieZoneRhApp.bonus.bonusType">Bonus Type</label>
          <select class="form-control" name="bonusType" formControlName="bonusType" id="field_bonusType" data-cy="bonusType">
            <option [ngValue]="null">{{ 'paieZoneRhApp.BonusType.null' | translate }}</option>
            @for (bonusType of bonusTypeValues; track $index) {
              <option [value]="bonusType">{{ 'paieZoneRhApp.BonusType.' + bonusType | translate }}</option>
            }
          </select>
          @if (bonusTypeRef.invalid && (bonusTypeRef.dirty || bonusTypeRef.touched)) {
            <div>
              @if (editForm.get('bonusType')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let labelRef = editForm.get('label')!;
        <div class="mb-3">
          <label class="form-label" for="field_label" pzTranslate="paieZoneRhApp.bonus.label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
          @if (labelRef.invalid && (labelRef.dirty || labelRef.touched)) {
            <div>
              @if (editForm.get('label')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('label')?.errors?.maxlength) {
                <small class="form-text text-danger" pzTranslate="entity.validation.maxlength" [translateValues]="{ max: '150' }"
                  >Ce champ doit faire moins de 150 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let amountRef = editForm.get('amount')!;
        <div class="mb-3">
          <label class="form-label" for="field_amount" pzTranslate="paieZoneRhApp.bonus.amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          @if (amountRef.invalid && (amountRef.dirty || amountRef.touched)) {
            <div>
              @if (editForm.get('amount')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('amount')?.errors?.number" pzTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let taxableRef = editForm.get('taxable')!;
        <div class="mb-3">
          <label class="form-label" for="field_taxable" pzTranslate="paieZoneRhApp.bonus.taxable">Taxable</label>
          <input type="checkbox" class="form-check" name="taxable" id="field_taxable" data-cy="taxable" formControlName="taxable" />
          @if (taxableRef.invalid && (taxableRef.dirty || taxableRef.touched)) {
            <div>
              @if (editForm.get('taxable')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let monthRef = editForm.get('month')!;
        <div class="mb-3">
          <label class="form-label" for="field_month" pzTranslate="paieZoneRhApp.bonus.month">Month</label>
          <input type="number" class="form-control" name="month" id="field_month" data-cy="month" formControlName="month" />
          @if (monthRef.invalid && (monthRef.dirty || monthRef.touched)) {
            <div>
              @if (editForm.get('month')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('month')?.errors?.min) {
                <small class="form-text text-danger" pzTranslate="entity.validation.min" [translateValues]="{ min: '1' }"
                  >Ce champ doit être supérieur à 1.</small
                >
              }
              @if (editForm.get('month')?.errors?.max) {
                <small class="form-text text-danger" pzTranslate="entity.validation.max" [translateValues]="{ max: '12' }"
                  >Ce champ doit être inférieur à 12.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('month')?.errors?.number" pzTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let yearRef = editForm.get('year')!;
        <div class="mb-3">
          <label class="form-label" for="field_year" pzTranslate="paieZoneRhApp.bonus.year">Year</label>
          <input type="number" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
          @if (yearRef.invalid && (yearRef.dirty || yearRef.touched)) {
            <div>
              @if (editForm.get('year')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('year')?.errors?.number" pzTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let notesRef = editForm.get('notes')!;
        <div class="mb-3">
          <label class="form-label" for="field_notes" pzTranslate="paieZoneRhApp.bonus.notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
          @if (notesRef.invalid && (notesRef.dirty || notesRef.touched)) {
            <div>
              @if (editForm.get('notes')?.errors?.maxlength) {
                <small class="form-text text-danger" pzTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >Ce champ doit faire moins de 500 caractères.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_employee" pzTranslate="paieZoneRhApp.bonus.employee">Employee</label>
          <select
            class="form-control"
            id="field_employee"
            data-cy="employee"
            name="employee"
            formControlName="employee"
            [compareWith]="compareEmployee"
          >
            @if (!editForm.get('employee')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (employeeOption of employeesSharedCollection; track $index) {
              <option [ngValue]="employeeOption">{{ employeeOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['employee'])!.invalid && (editForm.get(['employee'])!.dirty || editForm.get(['employee'])!.touched)) {
          <div>
            @if (editForm.get(['employee'])?.errors?.required) {
              <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_paySlip" pzTranslate="paieZoneRhApp.bonus.paySlip">Pay Slip</label>
          <select
            class="form-control"
            id="field_paySlip"
            data-cy="paySlip"
            name="paySlip"
            formControlName="paySlip"
            [compareWith]="comparePaySlip"
          >
            <option [ngValue]="null"></option>
            @for (paySlipOption of paySlipsSharedCollection; track $index) {
              <option [ngValue]="paySlipOption">{{ paySlipOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span pzTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span pzTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
