<div>
  <h2 id="page-heading" data-cy="CompanyHeading">
    <span pzTranslate="paieZoneRhApp.company.home.title">Companies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span pzTranslate="paieZoneRhApp.company.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-company"
        [routerLink]="['/company/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span pzTranslate="paieZoneRhApp.company.home.createLabel">Créer un nouveau Company</span>
      </button>
    </div>
  </h2>

  <pz-alert-error />

  <pz-alert />

  @if (companies().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span pzTranslate="paieZoneRhApp.company.home.notFound">Aucun Company trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr pzSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" pzSortBy="id">
              <div class="d-flex">
                <span pzTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="name">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="tradeName">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.tradeName">Trade Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="taxId">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.taxId">Tax Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="cnssId">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.cnssId">Cnss Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="address">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="city">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.city">City</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="postalCode">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.postalCode">Postal Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="phone">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.phone">Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="email">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="logoUrl">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.logoUrl">Logo Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="tenantSchema">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.tenantSchema">Tenant Schema</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="active">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.active">Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="trialEnd">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.trialEnd">Trial End</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="createdAt">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="subscription.id">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.company.subscription">Subscription</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (company of companies(); track trackId(company)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/company', company.id, 'view']">{{ company.id }}</a>
              </td>
              <td>{{ company.name }}</td>
              <td>{{ company.tradeName }}</td>
              <td>{{ company.taxId }}</td>
              <td>{{ company.cnssId }}</td>
              <td>{{ company.address }}</td>
              <td>{{ company.city }}</td>
              <td>{{ company.postalCode }}</td>
              <td>{{ company.phone }}</td>
              <td>{{ company.email }}</td>
              <td>{{ company.logoUrl }}</td>
              <td>{{ company.tenantSchema }}</td>
              <td>{{ company.active }}</td>
              <td>{{ company.trialEnd | formatMediumDate }}</td>
              <td>{{ company.createdAt | formatMediumDatetime }}</td>
              <td>
                @if (company.subscription) {
                  <div>
                    <a [routerLink]="['/company-subscription', company.subscription.id, 'view']">{{ company.subscription.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/company', company.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" pzTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/company', company.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" pzTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(company)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" pzTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
