<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (employee(); as employeeRef) {
      <div>
        <h2 data-cy="employeeDetailsHeading"><span pzTranslate="paieZoneRhApp.employee.detail.title">Employee</span></h2>

        <hr />

        <pz-alert-error />

        <pz-alert />

        <dl class="row-md jh-entity-details">
          <dt><span pzTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ employeeRef.id }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.matricule">Matricule</span></dt>
          <dd>
            <span>{{ employeeRef.matricule }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.firstName">First Name</span></dt>
          <dd>
            <span>{{ employeeRef.firstName }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.lastName">Last Name</span></dt>
          <dd>
            <span>{{ employeeRef.lastName }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.firstNameAr">First Name Ar</span></dt>
          <dd>
            <span>{{ employeeRef.firstNameAr }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.lastNameAr">Last Name Ar</span></dt>
          <dd>
            <span>{{ employeeRef.lastNameAr }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.birthDate">Birth Date</span></dt>
          <dd>
            <span>{{ employeeRef.birthDate | formatMediumDate }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.birthPlace">Birth Place</span></dt>
          <dd>
            <span>{{ employeeRef.birthPlace }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.gender">Gender</span></dt>
          <dd>
            <span [pzTranslate]="'paieZoneRhApp.Gender.' + (employeeRef.gender ?? 'null')">{{
              { null: '', MALE: 'MALE', FEMALE: 'FEMALE' }[employeeRef.gender ?? 'null']
            }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.maritalStatus">Marital Status</span></dt>
          <dd>
            <span [pzTranslate]="'paieZoneRhApp.MaritalStatus.' + (employeeRef.maritalStatus ?? 'null')">{{
              { null: '', SINGLE: 'SINGLE', MARRIED: 'MARRIED', DIVORCED: 'DIVORCED', WIDOWED: 'WIDOWED' }[
                employeeRef.maritalStatus ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.numberOfChildren">Number Of Children</span></dt>
          <dd>
            <span>{{ employeeRef.numberOfChildren }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.chefDeFamille">Chef De Famille</span></dt>
          <dd>
            <span>{{ employeeRef.chefDeFamille }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.nationalId">National Id</span></dt>
          <dd>
            <span>{{ employeeRef.nationalId }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.passportNumber">Passport Number</span></dt>
          <dd>
            <span>{{ employeeRef.passportNumber }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.nationality">Nationality</span></dt>
          <dd>
            <span>{{ employeeRef.nationality }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.address">Address</span></dt>
          <dd>
            <span>{{ employeeRef.address }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.city">City</span></dt>
          <dd>
            <span>{{ employeeRef.city }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.personalEmail">Personal Email</span></dt>
          <dd>
            <span>{{ employeeRef.personalEmail }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.professionalEmail">Professional Email</span></dt>
          <dd>
            <span>{{ employeeRef.professionalEmail }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.phoneNumber">Phone Number</span></dt>
          <dd>
            <span>{{ employeeRef.phoneNumber }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.cnssNumber">Cnss Number</span></dt>
          <dd>
            <span>{{ employeeRef.cnssNumber }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.category">Category</span></dt>
          <dd>
            <span [pzTranslate]="'paieZoneRhApp.EmployeeCategory.' + (employeeRef.category ?? 'null')">{{
              {
                null: '',
                WORKER: 'WORKER',
                EMPLOYEE: 'EMPLOYEE',
                TECHNICIAN: 'TECHNICIAN',
                SUPERVISOR: 'SUPERVISOR',
                MANAGER: 'MANAGER',
                EXECUTIVE: 'EXECUTIVE',
                DIRECTOR: 'DIRECTOR',
              }[employeeRef.category ?? 'null']
            }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.photoUrl">Photo Url</span></dt>
          <dd>
            <span>{{ employeeRef.photoUrl }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.hireDate">Hire Date</span></dt>
          <dd>
            <span>{{ employeeRef.hireDate | formatMediumDate }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.trialEndDate">Trial End Date</span></dt>
          <dd>
            <span>{{ employeeRef.trialEndDate | formatMediumDate }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.active">Active</span></dt>
          <dd>
            <span>{{ employeeRef.active }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.notes">Notes</span></dt>
          <dd>
            <span>{{ employeeRef.notes }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.createdAt">Created At</span></dt>
          <dd>
            <span>{{ employeeRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.updatedAt">Updated At</span></dt>
          <dd>
            <span>{{ employeeRef.updatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.company">Company</span></dt>
          <dd>
            @if (employee()!.company) {
              <div>
                <a [routerLink]="['/company', employee()!.company?.id, 'view']">{{ employeeRef.company?.id }}</a>
              </div>
            }
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.department">Department</span></dt>
          <dd>
            @if (employee()!.department) {
              <div>
                <a [routerLink]="['/department', employee()!.department?.id, 'view']">{{ employeeRef.department?.id }}</a>
              </div>
            }
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.position">Position</span></dt>
          <dd>
            @if (employee()!.position) {
              <div>
                <a [routerLink]="['/job-position', employee()!.position?.id, 'view']">{{ employeeRef.position?.id }}</a>
              </div>
            }
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.manager">Manager</span></dt>
          <dd>
            @if (employee()!.manager) {
              <div>
                <a [routerLink]="['/employee', employee()!.manager?.id, 'view']">{{ employeeRef.manager?.id }}</a>
              </div>
            }
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.employee.userProfile">User Profile</span></dt>
          <dd>
            @if (employee()!.userProfile) {
              <div>
                <a [routerLink]="['/user-profile', employee()!.userProfile?.id, 'view']">{{ employeeRef.userProfile?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span pzTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/employee', employeeRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span pzTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
