<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="pz-tax-bracket-heading" data-cy="TaxBracketCreateUpdateHeading" pzTranslate="paieZoneRhApp.taxBracket.home.createOrEditLabel">
        Créer ou éditer un Tax Bracket
      </h2>

      <div>
        <pz-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" pzTranslate="paieZoneRhApp.taxBracket.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let yearRef = editForm.get('year')!;
        <div class="mb-3">
          <label class="form-label" for="field_year" pzTranslate="paieZoneRhApp.taxBracket.year">Year</label>
          <input type="number" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
          @if (yearRef.invalid && (yearRef.dirty || yearRef.touched)) {
            <div>
              @if (editForm.get('year')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('year')?.errors?.number" pzTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let minIncomeRef = editForm.get('minIncome')!;
        <div class="mb-3">
          <label class="form-label" for="field_minIncome" pzTranslate="paieZoneRhApp.taxBracket.minIncome">Min Income</label>
          <input type="number" class="form-control" name="minIncome" id="field_minIncome" data-cy="minIncome" formControlName="minIncome" />
          @if (minIncomeRef.invalid && (minIncomeRef.dirty || minIncomeRef.touched)) {
            <div>
              @if (editForm.get('minIncome')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('minIncome')?.errors?.number"
                pzTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_maxIncome" pzTranslate="paieZoneRhApp.taxBracket.maxIncome">Max Income</label>
          <input type="number" class="form-control" name="maxIncome" id="field_maxIncome" data-cy="maxIncome" formControlName="maxIncome" />
        </div>

        @let rateRef = editForm.get('rate')!;
        <div class="mb-3">
          <label class="form-label" for="field_rate" pzTranslate="paieZoneRhApp.taxBracket.rate">Rate</label>
          <input type="number" class="form-control" name="rate" id="field_rate" data-cy="rate" formControlName="rate" />
          @if (rateRef.invalid && (rateRef.dirty || rateRef.touched)) {
            <div>
              @if (editForm.get('rate')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('rate')?.errors?.number" pzTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let fixedDeductionRef = editForm.get('fixedDeduction')!;
        <div class="mb-3">
          <label class="form-label" for="field_fixedDeduction" pzTranslate="paieZoneRhApp.taxBracket.fixedDeduction">Fixed Deduction</label>
          <input
            type="number"
            class="form-control"
            name="fixedDeduction"
            id="field_fixedDeduction"
            data-cy="fixedDeduction"
            formControlName="fixedDeduction"
          />
          @if (fixedDeductionRef.invalid && (fixedDeductionRef.dirty || fixedDeductionRef.touched)) {
            <div>
              @if (editForm.get('fixedDeduction')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('fixedDeduction')?.errors?.number"
                pzTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let sortOrderRef = editForm.get('sortOrder')!;
        <div class="mb-3">
          <label class="form-label" for="field_sortOrder" pzTranslate="paieZoneRhApp.taxBracket.sortOrder">Sort Order</label>
          <input type="number" class="form-control" name="sortOrder" id="field_sortOrder" data-cy="sortOrder" formControlName="sortOrder" />
          @if (sortOrderRef.invalid && (sortOrderRef.dirty || sortOrderRef.touched)) {
            <div>
              @if (editForm.get('sortOrder')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('sortOrder')?.errors?.number"
                pzTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_company" pzTranslate="paieZoneRhApp.taxBracket.company">Company</label>
          <select
            class="form-control"
            id="field_company"
            data-cy="company"
            name="company"
            formControlName="company"
            [compareWith]="compareCompany"
          >
            <option [ngValue]="null"></option>
            @for (companyOption of companiesSharedCollection; track $index) {
              <option [ngValue]="companyOption">{{ companyOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span pzTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span pzTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
