<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="pz-payroll-period-heading"
        data-cy="PayrollPeriodCreateUpdateHeading"
        pzTranslate="paieZoneRhApp.payrollPeriod.home.createOrEditLabel"
      >
        Créer ou éditer un Payroll Period
      </h2>

      <div>
        <pz-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" pzTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let monthRef = editForm.get('month')!;
        <div class="mb-3">
          <label class="form-label" for="field_month" pzTranslate="paieZoneRhApp.payrollPeriod.month">Month</label>
          <input type="number" class="form-control" name="month" id="field_month" data-cy="month" formControlName="month" />
          @if (monthRef.invalid && (monthRef.dirty || monthRef.touched)) {
            <div>
              @if (editForm.get('month')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('month')?.errors?.min) {
                <small class="form-text text-danger" pzTranslate="entity.validation.min" [translateValues]="{ min: '1' }"
                  >Ce champ doit être supérieur à 1.</small
                >
              }
              @if (editForm.get('month')?.errors?.max) {
                <small class="form-text text-danger" pzTranslate="entity.validation.max" [translateValues]="{ max: '12' }"
                  >Ce champ doit être inférieur à 12.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('month')?.errors?.number" pzTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let yearRef = editForm.get('year')!;
        <div class="mb-3">
          <label class="form-label" for="field_year" pzTranslate="paieZoneRhApp.payrollPeriod.year">Year</label>
          <input type="number" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
          @if (yearRef.invalid && (yearRef.dirty || yearRef.touched)) {
            <div>
              @if (editForm.get('year')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('year')?.errors?.number" pzTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" pzTranslate="paieZoneRhApp.payrollPeriod.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'paieZoneRhApp.PayrollStatus.null' | translate }}</option>
            @for (payrollStatus of payrollStatusValues; track $index) {
              <option [value]="payrollStatus">{{ 'paieZoneRhApp.PayrollStatus.' + payrollStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_calculatedAt" pzTranslate="paieZoneRhApp.payrollPeriod.calculatedAt">Calculated At</label>
          <div class="d-flex">
            <input
              id="field_calculatedAt"
              data-cy="calculatedAt"
              type="datetime-local"
              class="form-control"
              name="calculatedAt"
              formControlName="calculatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_validatedAt" pzTranslate="paieZoneRhApp.payrollPeriod.validatedAt">Validated At</label>
          <div class="d-flex">
            <input
              id="field_validatedAt"
              data-cy="validatedAt"
              type="datetime-local"
              class="form-control"
              name="validatedAt"
              formControlName="validatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lockedAt" pzTranslate="paieZoneRhApp.payrollPeriod.lockedAt">Locked At</label>
          <div class="d-flex">
            <input
              id="field_lockedAt"
              data-cy="lockedAt"
              type="datetime-local"
              class="form-control"
              name="lockedAt"
              formControlName="lockedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes" pzTranslate="paieZoneRhApp.payrollPeriod.notes">Notes</label>
          <textarea class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_company" pzTranslate="paieZoneRhApp.payrollPeriod.company">Company</label>
          <select
            class="form-control"
            id="field_company"
            data-cy="company"
            name="company"
            formControlName="company"
            [compareWith]="compareCompany"
          >
            @if (!editForm.get('company')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (companyOption of companiesSharedCollection(); track $index) {
              <option [ngValue]="companyOption">{{ companyOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['company'])!.invalid && (editForm.get(['company'])!.dirty || editForm.get(['company'])!.touched)) {
          <div>
            @if (editForm.get(['company'])?.errors?.required) {
              <small class="form-text text-danger" pzTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_createdBy" pzTranslate="paieZoneRhApp.payrollPeriod.createdBy">Created By</label>
          <select
            class="form-control"
            id="field_createdBy"
            data-cy="createdBy"
            name="createdBy"
            formControlName="createdBy"
            [compareWith]="compareUserProfile"
          >
            <option [ngValue]="null"></option>
            @for (userProfileOption of userProfilesSharedCollection(); track $index) {
              <option [ngValue]="userProfileOption">{{ userProfileOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span pzTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span pzTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
