<div>
  <h2 id="page-heading" data-cy="LeaveTypeHeading">
    <span pzTranslate="paieZoneRhApp.leaveType.home.title">LeaveTypes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span pzTranslate="paieZoneRhApp.leaveType.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-leave-type"
        [routerLink]="['/leave-type/new']"
      >
        <fa-icon icon="plus" />
        <span pzTranslate="paieZoneRhApp.leaveType.home.createLabel">Créer un nouveau Leave Type</span>
      </button>
    </div>
  </h2>

  <pz-alert-error />

  <pz-alert />

  @if (leaveTypes().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span pzTranslate="paieZoneRhApp.leaveType.home.notFound">Aucun Leave Type trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr pzSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" pzSortBy="id">
              <div class="d-flex">
                <span pzTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="name">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.leaveType.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="label">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.leaveType.label">Label</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="maxDaysPerYear">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.leaveType.maxDaysPerYear">Max Days Per Year</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="carryOverDays">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.leaveType.carryOverDays">Carry Over Days</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="paid">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.leaveType.paid">Paid</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="requiresMedical">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.leaveType.requiresMedical">Requires Medical</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="active">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.leaveType.active">Active</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="company.id">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.leaveType.company">Company</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (leaveType of leaveTypes(); track trackId(leaveType)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/leave-type', leaveType.id, 'view']">{{ leaveType.id }}</a>
              </td>
              <td [pzTranslate]="'paieZoneRhApp.LeaveTypeName.' + (leaveType.name ?? 'null')">
                {{
                  {
                    null: '',
                    ANNUAL: 'ANNUAL',
                    SICK: 'SICK',
                    MATERNITY: 'MATERNITY',
                    PATERNITY: 'PATERNITY',
                    UNPAID: 'UNPAID',
                    MARRIAGE: 'MARRIAGE',
                    BEREAVEMENT: 'BEREAVEMENT',
                    EXCEPTIONAL: 'EXCEPTIONAL',
                  }[leaveType.name ?? 'null']
                }}
              </td>
              <td>{{ leaveType.label }}</td>
              <td>{{ leaveType.maxDaysPerYear }}</td>
              <td>{{ leaveType.carryOverDays }}</td>
              <td>{{ leaveType.paid }}</td>
              <td>{{ leaveType.requiresMedical }}</td>
              <td>{{ leaveType.active }}</td>
              <td>
                @if (leaveType.company) {
                  <div>
                    <a [routerLink]="['/company', leaveType.company.id, 'view']">{{ leaveType.company.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/leave-type', leaveType.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" pzTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/leave-type', leaveType.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" pzTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(leaveType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" pzTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
