<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (leaveRequest(); as leaveRequestRef) {
      <div>
        <h2 data-cy="leaveRequestDetailsHeading"><span pzTranslate="paieZoneRhApp.leaveRequest.detail.title">Leave Request</span></h2>

        <hr />

        <pz-alert-error />

        <pz-alert />

        <dl class="row-md jh-entity-details">
          <dt><span pzTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ leaveRequestRef.id }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.leaveRequest.startDate">Start Date</span></dt>
          <dd>
            <span>{{ leaveRequestRef.startDate | formatMediumDate }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.leaveRequest.endDate">End Date</span></dt>
          <dd>
            <span>{{ leaveRequestRef.endDate | formatMediumDate }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.leaveRequest.numberOfDays">Number Of Days</span></dt>
          <dd>
            <span>{{ leaveRequestRef.numberOfDays }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.leaveRequest.status">Status</span></dt>
          <dd>
            <span [pzTranslate]="'paieZoneRhApp.LeaveStatus.' + (leaveRequestRef.status ?? 'null')">{{
              { null: '', DRAFT: 'DRAFT', PENDING: 'PENDING', APPROVED: 'APPROVED', REJECTED: 'REJECTED', CANCELLED: 'CANCELLED' }[
                leaveRequestRef.status ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.leaveRequest.requestedAt">Requested At</span></dt>
          <dd>
            <span>{{ leaveRequestRef.requestedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.leaveRequest.processedAt">Processed At</span></dt>
          <dd>
            <span>{{ leaveRequestRef.processedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.leaveRequest.managerComment">Manager Comment</span></dt>
          <dd>
            <span>{{ leaveRequestRef.managerComment }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.leaveRequest.employeeComment">Employee Comment</span></dt>
          <dd>
            <span>{{ leaveRequestRef.employeeComment }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.leaveRequest.documentUrl">Document Url</span></dt>
          <dd>
            <span>{{ leaveRequestRef.documentUrl }}</span>
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.leaveRequest.employee">Employee</span></dt>
          <dd>
            @if (leaveRequest()!.employee) {
              <div>
                <a [routerLink]="['/employee', leaveRequest()!.employee?.id, 'view']">{{ leaveRequestRef.employee?.id }}</a>
              </div>
            }
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.leaveRequest.leaveType">Leave Type</span></dt>
          <dd>
            @if (leaveRequest()!.leaveType) {
              <div>
                <a [routerLink]="['/leave-type', leaveRequest()!.leaveType?.id, 'view']">{{ leaveRequestRef.leaveType?.id }}</a>
              </div>
            }
          </dd>
          <dt><span pzTranslate="paieZoneRhApp.leaveRequest.approvedBy">Approved By</span></dt>
          <dd>
            @if (leaveRequest()!.approvedBy) {
              <div>
                <a [routerLink]="['/user-profile', leaveRequest()!.approvedBy?.id, 'view']">{{ leaveRequestRef.approvedBy?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span pzTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/leave-request', leaveRequestRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span pzTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
