<div>
  <h2 id="page-heading" data-cy="AuditLogHeading">
    <span pzTranslate="paieZoneRhApp.auditLog.home.title">AuditLogs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span pzTranslate="paieZoneRhApp.auditLog.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-audit-log"
        [routerLink]="['/audit-log/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span pzTranslate="paieZoneRhApp.auditLog.home.createLabel">Créer un nouveau Audit Log</span>
      </button>
    </div>
  </h2>

  <pz-alert-error />

  <pz-alert />

  <pz-filter [filters]="filters" />

  @if (auditLogs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span pzTranslate="paieZoneRhApp.auditLog.home.notFound">Aucun Audit Log trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr pzSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" pzSortBy="id">
              <div class="d-flex">
                <span pzTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="action">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.auditLog.action">Action</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="entityType">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.auditLog.entityType">Entity Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="entityId">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.auditLog.entityId">Entity Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="oldValue">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.auditLog.oldValue">Old Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="newValue">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.auditLog.newValue">New Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="ipAddress">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.auditLog.ipAddress">Ip Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="userAgent">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.auditLog.userAgent">User Agent</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="occurredAt">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.auditLog.occurredAt">Occurred At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="user.id">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.auditLog.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="company.id">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.auditLog.company">Company</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (auditLog of auditLogs(); track trackId(auditLog)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/audit-log', auditLog.id, 'view']">{{ auditLog.id }}</a>
              </td>
              <td>{{ auditLog.action }}</td>
              <td>{{ auditLog.entityType }}</td>
              <td>{{ auditLog.entityId }}</td>
              <td>{{ auditLog.oldValue }}</td>
              <td>{{ auditLog.newValue }}</td>
              <td>{{ auditLog.ipAddress }}</td>
              <td>{{ auditLog.userAgent }}</td>
              <td>{{ auditLog.occurredAt | formatMediumDatetime }}</td>
              <td>
                @if (auditLog.user) {
                  <div>
                    <a [routerLink]="['/user-profile', auditLog.user.id, 'view']">{{ auditLog.user.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (auditLog.company) {
                  <div>
                    <a [routerLink]="['/company', auditLog.company.id, 'view']">{{ auditLog.company.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/audit-log', auditLog.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" pzTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/audit-log', auditLog.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" pzTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(auditLog)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" pzTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (auditLogs().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <pz-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
