<div>
  <h2 id="page-heading" data-cy="RegulatoryParamHeading">
    <span pzTranslate="paieZoneRhApp.regulatoryParam.home.title">RegulatoryParams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span pzTranslate="paieZoneRhApp.regulatoryParam.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-regulatory-param"
        [routerLink]="['/regulatory-param/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span pzTranslate="paieZoneRhApp.regulatoryParam.home.createLabel">Créer un nouveau Regulatory Param</span>
      </button>
    </div>
  </h2>

  <pz-alert-error />

  <pz-alert />

  @if (regulatoryParams().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span pzTranslate="paieZoneRhApp.regulatoryParam.home.notFound">Aucun Regulatory Param trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr pzSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" pzSortBy="id">
              <div class="d-flex">
                <span pzTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="paramKey">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.regulatoryParam.paramKey">Param Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="paramLabel">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.regulatoryParam.paramLabel">Param Label</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="numericValue">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.regulatoryParam.numericValue">Numeric Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="textValue">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.regulatoryParam.textValue">Text Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="effectiveFrom">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.regulatoryParam.effectiveFrom">Effective From</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="effectiveTo">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.regulatoryParam.effectiveTo">Effective To</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="legalReference">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.regulatoryParam.legalReference">Legal Reference</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" pzSortBy="active">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.regulatoryParam.active">Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (regulatoryParam of regulatoryParams(); track trackId(regulatoryParam)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/regulatory-param', regulatoryParam.id, 'view']">{{ regulatoryParam.id }}</a>
              </td>
              <td>{{ regulatoryParam.paramKey }}</td>
              <td>{{ regulatoryParam.paramLabel }}</td>
              <td>{{ regulatoryParam.numericValue }}</td>
              <td>{{ regulatoryParam.textValue }}</td>
              <td>{{ regulatoryParam.effectiveFrom | formatMediumDate }}</td>
              <td>{{ regulatoryParam.effectiveTo | formatMediumDate }}</td>
              <td>{{ regulatoryParam.legalReference }}</td>
              <td>{{ regulatoryParam.active }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/regulatory-param', regulatoryParam.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" pzTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/regulatory-param', regulatoryParam.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" pzTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(regulatoryParam)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" pzTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
