<div>
  <h2 id="page-heading" data-cy="AccountPlanHeading">
    <span pzTranslate="paieZoneRhApp.accountPlan.home.title">AccountPlans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span pzTranslate="paieZoneRhApp.accountPlan.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-account-plan"
        [routerLink]="['/account-plan/new']"
      >
        <fa-icon icon="plus" />
        <span pzTranslate="paieZoneRhApp.accountPlan.home.createLabel">Créer un nouveau Account Plan</span>
      </button>
    </div>
  </h2>

  <pz-alert-error />

  <pz-alert />

  @if (accountPlans().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span pzTranslate="paieZoneRhApp.accountPlan.home.notFound">Aucun Account Plan trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr pzSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" pzSortBy="id">
              <div class="d-flex">
                <span pzTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="accountCode">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.accountPlan.accountCode">Account Code</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="accountLabel">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.accountPlan.accountLabel">Account Label</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="accountLabelAr">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.accountPlan.accountLabelAr">Account Label Ar</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="accountType">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.accountPlan.accountType">Account Type</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="active">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.accountPlan.active">Active</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" pzSortBy="company.id">
              <div class="d-flex">
                <span pzTranslate="paieZoneRhApp.accountPlan.company">Company</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (accountPlan of accountPlans(); track trackId(accountPlan)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/account-plan', accountPlan.id, 'view']">{{ accountPlan.id }}</a>
              </td>
              <td>{{ accountPlan.accountCode }}</td>
              <td>{{ accountPlan.accountLabel }}</td>
              <td>{{ accountPlan.accountLabelAr }}</td>
              <td>{{ accountPlan.accountType }}</td>
              <td>{{ accountPlan.active }}</td>
              <td>
                @if (accountPlan.company) {
                  <div>
                    <a [routerLink]="['/company', accountPlan.company.id, 'view']">{{ accountPlan.company.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/account-plan', accountPlan.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" pzTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/account-plan', accountPlan.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" pzTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(accountPlan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" pzTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
